@model IEnumerable<FAQ>
@{
    ViewBag.Title = "FAQs";
}


<ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link text-secondary" style="font-size:large" asp-action="Index" asp-route-category="" asp-route-topic="">All FAQs</a></li>
    @foreach (Topic t in ViewBag.Topics)
    {
        <li class="nav-item"><a class="nav-link text-secondary" asp-action="Index" asp-route-category="" asp-route-topic="@t.TopicId">@t.Name</a></li>
    }
</ul>

<div>

    <div class="row">

        <div class="col-sm-2">
            <table class="table table-bordered">
                @foreach (Category c in ViewBag.Categories)
                {
                    <tr>
                        <td class="text-center">
                            <a class="text-secondary" asp-action="Index"
                               asp-route-category="@c.CategoryId"
                               asp-route-topic="@ViewBag.SelectedTopic">@c.Name</a>
                        </td>
                    </tr>
                }
            </table>

        </div>

        <div class="col-sm-9">
            <table class="table">
                @foreach (FAQ faq in Model)
                {
                    <tr class="row border-left border-right">
                        <td class="col">
                            <b>@faq.Question</b> @faq.Answer
                        </td>
                    </tr>
                    <tr class="row border-left border-right border-bottom">
                        <td class="col border-0">Topic: @faq.Topic.Name</td>
                        <td class="col border-0">Category: @faq.Category.Name</td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>