@model IEnumerable<FAQ>
@{
    ViewBag.Title = "FAQs";
}
<table class="table-borderless" style="margin-right:auto; margin-left:auto;">

    <tr class="col-10">
        <td><a asp-action="Index" asp-route-category="" asp-route-topic="">All</a></td>
        @foreach (Topic t in ViewBag.Topics)
        {
            <td><a asp-action="Index" asp-route-topic="@t.TopicId">@t.Name</a></td>
        }

    </tr>

</table>

<div>

    <div class="row">

        <div class="col-sm-3">
            <div class="list-group">
                @foreach (Category c in ViewBag.Categories)
                {
                    <a asp-action="Index"
                       asp-route-category="@c.CategoryId"
                       asp-route-topic="@ViewBag.SelectedTopic">@c.Name</a>
                }
            </div>

        </div>

        <div class="col-sm-9">
            <table class="table">
                @foreach (FAQ faq in Model)
                {
                    <tr class="row">
                        <td class="col">
                            <b>@faq.Question</b>@faq.Answer
                        </td>
                    </tr>
                    <tr class="row">
                        <td class="col">Topic: @faq.Topic.Name</td>
                        <td class="col">Category: @faq.Category.Name</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    </div>